<!DOCTYPE html>
<html>
<head>
    <title>JSON Files</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <style>
        body {
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>Список доступных JSON файлов</p>
        <ul>
            {% for number in numbers %}
                <li class="element">
                    <a href="{{ url_for('json_page', number=number) }}">
                        <button class="jsonbutton">
                            Открыть JSON {{ number }}
                        </button>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>
