<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='for_viewer.css')}}">
    <title>Календарь</title>
</head>
<body>
    <header>
         <a href="/"><p class="header">Generate</p></a>
         <a href="/viewer"><p class="header">Viewer</p></a>
    </header>
    <table id="lessonTable">
        <tr>
            <th onclick="sortTable(0)">Название</th>
            <th onclick="sortTable(1)">Дата</th>
            <th onclick="sortTable(2)">Время</th>
            <th onclick="sortTable(3)">Преподаватель</th>
            <th onclick="sortTable(4)">Тип предмета</th>
        </tr>
        {% for lesson in lessons %}
        <tr>
            <td>{{ lesson['Название'] }}</td>
            <td>{{ lesson['День'] }}/{{ lesson['Месяц'] }}/{{ lesson['Год'] }}</td>
            <td>{{ lesson['Начало'] }} - {{ lesson['Конец'] }}</td>
            <td>{{ lesson['Преподаватель'] }}</td>
            <td>{{ lesson['Тип предмета'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>