<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='buttons.css')}}">
    <style>
        body {
            height: 100vh;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <a href="/" class="buttons_header"><p class="header">Generate</p></a>
        <a href="/viewer" class="buttons_header"><p class="header">Viewer</p></a>
    </header>
    <p><br>Произошла ошибка</p>
</body>
</html>