table {
    margin-top: 0;
    width: 95%;
    border-collapse: collapse;
}
td, th {
    padding: 3px;
    border: 1px solid #0080b4;
    color: var(--text-color);
    font-family: Tahoma;
    font-size: 14px;
    font-weight: bold;
    vertical-align: top;
    background-color: rgba(0,0,0,0.3);
}
th {
    background: #11515e;
}

.for_table {
    display: flex;
    justify-content: center;
}

.container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    margin-bottom: 30px;
}

.element {
    display: flex;
    background-color: rgba(0,0,0,0.3);
    width: 610px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;
    border-radius: 15px;
    align-items: center;
    justify-content: end;
    text-align: center;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

.incenter {
    text-align: center;
}

label {
    color: var(--text-btn-color);
    font-family: Arial;
    font-size: 16px;
    text-align: center;
}

.user_inputs {
    margin-right: 10px;
    font-family: Arial;
    font-size: 16px;
    border-radius: 15px;
    padding: 0 6px 0 6px;
    background-color: rgba(255,255,255,0.8);
}

.exc {
    margin-top: 10px;
}

select {
    max-width: 150px;
}

#name_sub {
    max-width: 600px;
}
#time {
    min-width: 200px;
}