header {
    margin-top: 0;
    margin-bottom: 25px;
}

table {
    margin-top: 0;
    width: 95%;
    border-collapse: collapse;
}
td, th {
    padding: 3px;
    border: 1px solid #0080b4;
    color: var(--text-color);
}
th {
    background: #11515e;
}

.for_table {
    display: flex;
    justify-content: center;
}

.container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    margin-bottom: 30px;
}

.element {
    display: flex;
    background-color: #14053f;
    width: 600px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;
    border-radius: 13px;
    align-items: center;
    justify-content: end;
    text-align: center;
}

.button {
    margin-top: 0;
    background-color: #faf2f2;
    color: #111111;
    padding: 4px 9px 4px 9px;
}

.button:hover {
    background-color: #b6afaf;
}

.incenter {
    text-align: center;
}

label {
    color: var(--text-btn-color);
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
}

.user_inputs {
    margin-right: 10px;
}

.exc {
    margin-top: 10px;
}

select {
    max-width: 150px;
}
